/*
    Comentario en CSS
*/

/* Selector Universal */
* {
    font-size: 16px;
}

/* Selectores de tipo */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    color: slateblue;
    font-size: 20px;
}

/* Selector de clase */
.peliculas {
    color: crimson;
}
.series {
    font-size: 40px;
}
.favoritas {
    font-weight: bold;
    color: rebeccapurple;
}
.espaciado {
    letter-spacing: 10px;
}

/* Selector de ID */
#spidermanNoWayHome {
    font-size: 25px;
    color: tomato;
    text-decoration: underline;
}
#temporada3 {
   color: seagreen;
   font-size: 15px;
}